.detail {
    min-height: 100vh;
    background-color: #b8b8b8;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardDetail {
    display: flex;
    border: black 3px solid;
    border-radius: 10px;
    width: 500px;
    background-color:darkgrey
}
.cardDetailLeft {
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    color: black;
}
.cardDetailRight {
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    margin:  auto;

}
.card_img {
    width: 250px;
    border-radius: 10px;    
}